#ad_insert {
     box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7), 0 12px 40px 0 rgba(0, 0, 0, 0.7);
     position:fixed;
     /*top:calc(100% - 95px);*/
    top:0px;
     width:100%;
     height:100%;
     background-color: #FFC262;
     -webkit-transition:all 400ms ease-in-out 0.4s;
     -moz-transition:all 400ms ease-in-out 0.4s;
     -o-transition:all 400ms ease-in-out 0.4s;
     transition:all 400ms ease-in-out 0.4s;
 }



 #ad{
       height:100%;
       font-size:1em;
       background-color: #FFCF95;
       width:100%;
   }

#ad h4 {
    margin-top: 0px;
    padding-top:20px;
    text-align:center;
}

#ad label{
    margin-top:15px;
}


#adFilter{
    height:100%;
    width:100%;
    background-color: deepskyblue;
    font-size: 1em;
    position:fixed;


    margin-left: auto;
    margin-right:auto;
}

#ad form {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#ad form button {
    margin-top:10px;
    float:right;
    border-radius: 8px;
}


#ad select, input, textarea{
    background: lightskyblue;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 8px;
    height: 45px;
    margin-bottom:20px;
    -webkit-appearance: none;
}

#ad textarea{
    height:210px;
}

#ad_search {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7), 0 12px 40px 0 rgba(0, 0, 0, 0.7);
    position:fixed;
    top:55px;
    width:100%;
    height: calc(100% - 149px);
    background-color: #FFCF95;
    -webkit-transition:all 400ms ease-in-out 0.4s;
    -moz-transition:all 400ms ease-in-out 0.4s;
    -o-transition:all 400ms ease-in-out 0.4s;
    transition:all 400ms ease-in-out 0.4s;
}

#ad_search table {
    text-align:left;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#resultList{
    overflow-y: scroll;
    height: 86%;
}

#ad_search th {
    padding-top: 20px;
}












/*
COPY PASTE PROFIL

*/











#signUp {
    width: 80%;
    margin-left: auto;
    margin-right:auto;

}


#signUp button {
    margin-top: 30px;
    display: block;
}

#lostPasswordInformation {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#lostPasswordInformation span {
    font-size: 140px;
    color:#FFC262;
}

#notLoggedInIcon, #noContentIcon{
    width: 95%;
    text-align: center;
    padding-top: 50px;
    font-size: 140px;
}

#pleaseLogIn, #noContentText{
    padding-top: 20px;
    text-align: center;
}

#myAds{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7), 0 12px 40px 0 rgba(0, 0, 0, 0.7);
    position:fixed;
    top:50px;
    height:100%;
    background-color: #FFC262;
    -webkit-transition:all 400ms ease-in-out 0.4s;
    -moz-transition:all 400ms ease-in-out 0.4s;
    -o-transition:all 400ms ease-in-out 0.4s;
    transition:all 400ms ease-in-out 0.4s;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
}






#myAds button{
    text-decoration: underline;
    border-style:none;
    background-color: transparent;
    display:block;
    margin-top:10px;
    margin-bottom:20px;
    float:right;
}

#myAdsList{
    overflow-y: scroll;
    height: calc(100% - 134px);
}