/*--------- MONOROM's RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* render html5 elements as block  */
header, footer, section, aside, nav, article { display: block; }

/* no font-resize for IOS  */
html{ -webkit-text-size-adjust: none; }

/*--------- end of MONORM's RESET */



/*   apple: This style prevents fonts from getting bigger when rotating to landscape. */
html {
    -webkit-text-size-adjust: 100%;
}


body {
    background: white;
}

html, body {
    height: 100%;
}


nav {
    position: fixed;
    bottom: 0px;
    width:100%;
    background-color: deepskyblue;
    text-align:center;
}


/* tab menu at the bottom */
nav button {
    border:none;
    background-color: transparent;
}
nav .glyphicon{
    font-size: 1.5em;
}
nav .btn {
    padding-left: 12%;
    padding-right:12%;
}
nav button:first-child{
    float:left;
}
nav button:last-child{
    float:right;
}
/* added when navButton is touched */
.activeButton{
    background-color: lightskyblue;
}

/* forecast table */
table {
    margin-left: 5%;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
}
td:nth-child(even) {
    text-align: left;
    font-size:0.6em;
}

/*Forecasts */
.nowForecast{
     background-color: #FFCF95;
 }
.todayForecast{
    background-color: #FFC262;
}
.todayForecast h4,h3{
    margin-top:0px;
    padding-top: 10px;
}
